# Basic operation we can perform after installing PySpark

In [2]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('test1.csv')

     Name  Age
0    Amit   31
1   Javed   30
2   Jebin   21
3  Shophi   22

In [5]:
#creating pyspark session
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [9]:
spark

In [10]:
df_pyspark = spark.read.csv('test1.csv') #Reading a file

In [11]:
df_pyspark # we can see the c0: String and c1: String which represent a columns in dataframe

DataFrame[_c0: string, _c1: string]

In [12]:
df_pyspark.show() # To show all data

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|  Amit| 31|
| Javed| 30|
| Jebin| 21|
|Shophi| 22|
+------+---+

In [22]:
df_pyspark = saprk.read.option('header', 'true').csv('test1.csv')  # here we are reading a file with actual headers i.e Name, Age

In [25]:
saprk.read.option('header', 'true').csv('test1.csv').show() #Let's how table looks

+------+---+
|  Name|Age|
+------+---+
|  Amit| 31|
| Javed| 30|
| Jebin| 21|
|Shophi| 22|
+------+---+

In [27]:
type(df_pyspark) #getting type of table

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.head() # getting the head data, put a number of rows inside head(_) as per need.

Row(Name='Amit', Age='31')

In [33]:
df_pyspark.printSchema() # To get detailed info of column df

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [ ]:
''' Training Part 1 - 
# Pyspark Data frame,
# Reading the dataset, 
# checking the datatypes of the column(schema), 
# Selecting Columns And Indexing,
# Check Describe option similar to Pandas
# Adding Columns
# Dropping Columns '''