In [ ]:
# Handling Missing Values
# Dropping Columns
# Dropping Rows
# Various parameter in dropping functionalities1
# Handling missing values by Mean, Median & Mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('handling_data').getOrCreate()

In [18]:
spark.read.csv('test2.csv', header = True, inferSchema = True)

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [19]:
spark.read.csv('test2.csv', header = True, inferSchema = True).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Krish|  33|        10| 30000|
|   Amit|  32|         8| 25000|
|  Rohit|  21|         4| 15000|
|  Naman|  34|         3| 20000|
| Chitra|  22|         2|400000|
|Rukmani|  32|         1| 10000|
|Devbabu|NULL|        12| 16000|
|   NULL|  34|        10|  NULL|
|   NULL|  55|      NULL|  NULL|
|   NULL|NULL|        24|  NULL|
+-------+----+----------+------+

In [20]:
df_pyspark = spark.read.csv('test2.csv', header = True, inferSchema = True)

In [21]:
## drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  33|        10| 30000|
|  32|         8| 25000|
|  21|         4| 15000|
|  34|         3| 20000|
|  22|         2|400000|
|  32|         1| 10000|
|NULL|        12| 16000|
|  34|        10|  NULL|
|  55|      NULL|  NULL|
|NULL|        24|  NULL|
+----+----------+------+

In [22]:
df_pyspark.show() # changes has not been made to actual data frame

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Krish|  33|        10| 30000|
|   Amit|  32|         8| 25000|
|  Rohit|  21|         4| 15000|
|  Naman|  34|         3| 20000|
| Chitra|  22|         2|400000|
|Rukmani|  32|         1| 10000|
|Devbabu|NULL|        12| 16000|
|   NULL|  34|        10|  NULL|
|   NULL|  55|      NULL|  NULL|
|   NULL|NULL|        24|  NULL|
+-------+----+----------+------+

In [23]:
# we will drop the null values in df
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Krish| 33|        10| 30000|
|   Amit| 32|         8| 25000|
|  Rohit| 21|         4| 15000|
|  Naman| 34|         3| 20000|
| Chitra| 22|         2|400000|
|Rukmani| 32|         1| 10000|
+-------+---+----------+------+

In [24]:
## lets understand the features of drop function
### any == how
# 'any' means if column has null value just drop that row
# 'all' means if those records that are comepletely null
df_pyspark.na.drop(how = "any").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Krish| 33|        10| 30000|
|   Amit| 32|         8| 25000|
|  Rohit| 21|         4| 15000|
|  Naman| 34|         3| 20000|
| Chitra| 22|         2|400000|
|Rukmani| 32|         1| 10000|
+-------+---+----------+------+

In [29]:
# thershold delete the row which has atleast 2 null values
df_pyspark.na.drop(how='any', thresh=2).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Krish|  33|        10| 30000|
|   Amit|  32|         8| 25000|
|  Rohit|  21|         4| 15000|
|  Naman|  34|         3| 20000|
| Chitra|  22|         2|400000|
|Rukmani|  32|         1| 10000|
|Devbabu|NULL|        12| 16000|
|   NULL|  34|        10|  NULL|
+-------+----+----------+------+

In [30]:
# subset, if you want to drop the nan values from specific columns
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Krish|  33|        10| 30000|
|   Amit|  32|         8| 25000|
|  Rohit|  21|         4| 15000|
|  Naman|  34|         3| 20000|
| Chitra|  22|         2|400000|
|Rukmani|  32|         1| 10000|
|Devbabu|NULL|        12| 16000|
|   NULL|  34|        10|  NULL|
|   NULL|NULL|        24|  NULL|
+-------+----+----------+------+

In [31]:
#Filling missing values it will take one nan value, one subset
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  33|        10| 30000|
|          Amit|  32|         8| 25000|
|         Rohit|  21|         4| 15000|
|         Naman|  34|         3| 20000|
|        Chitra|  22|         2|400000|
|       Rukmani|  32|         1| 10000|
|       Devbabu|NULL|        12| 16000|
|Missing Values|  34|        10|  NULL|
|Missing Values|  55|      NULL|  NULL|
|Missing Values|NULL|        24|  NULL|
+--------------+----+----------+------+

In [39]:
#to fill only specific columns
df_pyspark.na.fill({'age':'unknown', 'Experience':'unknown'}).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Krish|  33|        10| 30000|
|   Amit|  32|         8| 25000|
|  Rohit|  21|         4| 15000|
|  Naman|  34|         3| 20000|
| Chitra|  22|         2|400000|
|Rukmani|  32|         1| 10000|
|Devbabu|NULL|        12| 16000|
|   NULL|  34|        10|  NULL|
|   NULL|  55|      NULL|  NULL|
|   NULL|NULL|        24|  NULL|
+-------+----+----------+------+

In [49]:
# replacing null values with the mean
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience', 'Salary']]
                ).setStrategy("mean")

In [50]:
#Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Krish|  33|        10| 30000|         33|                10|         30000|
|   Amit|  32|         8| 25000|         32|                 8|         25000|
|  Rohit|  21|         4| 15000|         21|                 4|         15000|
|  Naman|  34|         3| 20000|         34|                 3|         20000|
| Chitra|  22|         2|400000|         22|                 2|        400000|
|Rukmani|  32|         1| 10000|         32|                 1|         10000|
|Devbabu|NULL|        12| 16000|         32|                12|         16000|
|   NULL|  34|        10|  NULL|         34|                10|         73714|
|   NULL|  55|      NULL|  NULL|         55|                 8|         73714|
|   NULL|NULL|        24|  NULL|         32|                24|         73714|
+-------+----+----------+------+-----------+------------------+--------------+

In [51]:
# replacing null values with the mean
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience', 'Salary']]
                ).setStrategy("median")

In [52]:
#Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Krish|  33|        10| 30000|         33|                10|         30000|
|   Amit|  32|         8| 25000|         32|                 8|         25000|
|  Rohit|  21|         4| 15000|         21|                 4|         15000|
|  Naman|  34|         3| 20000|         34|                 3|         20000|
| Chitra|  22|         2|400000|         22|                 2|        400000|
|Rukmani|  32|         1| 10000|         32|                 1|         10000|
|Devbabu|NULL|        12| 16000|         32|                12|         16000|
|   NULL|  34|        10|  NULL|         34|                10|         20000|
|   NULL|  55|      NULL|  NULL|         55|                 8|         20000|
|   NULL|NULL|        24|  NULL|         32|                24|         20000|
+-------+----+----------+------+-----------+------------------+--------------+