In [ ]:
''' Training Part 1 - 
# Pyspark Data frame,
# Reading the dataset, 
# checking the datatypes of the column(schema), 
# Selecting Columns,
# Check Describe option similar to Pandas
# Adding Columns
# Dropping Columns 
# Renaming Columns'''

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [36]:
## read the dataset
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema = True)

In [37]:
### Check the schema
df_pyspark.printSchema()
# we can see the age and experience is integer we can change by using inferSchema to True to make integer value

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [38]:
df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|  Amit| 31|        10|
| Javed| 30|         8|
| Jebin| 21|         4|
|Shophi| 22|         2|
+------+---+----------+

In [39]:
type(df_pyspark) #dataframe is a data structure on which we can perform diff operations

pyspark.sql.dataframe.DataFrame

In [40]:
df_pyspark.columns #to get the all columns name

['Name', 'Age', 'Experience']

In [41]:
df_pyspark.head(4)

[Row(Name='Amit', Age=31, Experience=10),
 Row(Name='Javed', Age=30, Experience=8),
 Row(Name='Jebin', Age=21, Experience=4),
 Row(Name='Shophi', Age=22, Experience=2)]

In [42]:
df_pyspark.select('Name').show()
type(df_pyspark.select('Name')) # to get the type

+------+
|  Name|
+------+
|  Amit|
| Javed|
| Jebin|
|Shophi|
+------+

pyspark.sql.dataframe.DataFrame

In [43]:
#to show multiple rows
df_pyspark.select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Amit| 31|
| Javed| 30|
| Jebin| 21|
|Shophi| 22|
+------+---+

In [44]:
df_pyspark['Name'] #this will just show the feature there is no show function for it

Column<'Name'>

In [45]:
df_pyspark.dtypes #to get the data types of columns

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [46]:
df_pyspark.describe().show() # describe the table

+-------+------+-----------------+------------------+
|summary|  Name|              Age|        Experience|
+-------+------+-----------------+------------------+
|  count|     4|                4|                 4|
|   mean|  NULL|             26.0|               6.0|
| stddev|  NULL|5.228129047119374|3.6514837167011076|
|    min|  Amit|               21|                 2|
|    max|Shophi|               31|                10|
+-------+------+-----------------+------------------+

In [47]:
## Adding Columns in pyspark data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 Year', df_pyspark['Experience']+2) # added a new column with the values

In [48]:
df_pyspark.show() #you can see its reflecting

+------+---+----------+-----------------------+
|  Name|Age|Experience|Experience After 2 Year|
+------+---+----------+-----------------------+
|  Amit| 31|        10|                     12|
| Javed| 30|         8|                     10|
| Jebin| 21|         4|                      6|
|Shophi| 22|         2|                      4|
+------+---+----------+-----------------------+

In [50]:
#drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 Year')

In [51]:
df_pyspark.show() #here we can see the column has been deleted

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|  Amit| 31|        10|
| Javed| 30|         8|
| Jebin| 21|         4|
|Shophi| 22|         2|
+------+---+----------+

In [52]:
#Rename the columns
df_pyspark = df_pyspark.withColumnRenamed('Name', 'Profile Name')

In [53]:
df_pyspark.show()

+------------+---+----------+
|Profile Name|Age|Experience|
+------------+---+----------+
|        Amit| 31|        10|
|       Javed| 30|         8|
|       Jebin| 21|         4|
|      Shophi| 22|         2|
+------------+---+----------+