In [ ]:
# PySpark dataframes
# Filter Operations
# & , | , ==
# `

In [16]:
# If you want to retrive some of records based on some conditions we can do that using filter operations
from pyspark.sql import SparkSession

In [21]:
spark = SparkSession.builder \
    .appName("dataframe") \
    .getOrCreate()

In [22]:
df = spark.read.csv('test3.csv', header = True, inferSchema = True)

In [23]:
df.show()

+---------+---+-----------+------+
|     Name|age|Experienced|Salary|
+---------+---+-----------+------+
|    Krish| 31|         10| 30000|
|Sudhanshu| 30|          8| 25000|
|    Sunny| 29|          4| 20000|
|     Paul| 24|          3| 20000|
|   Harsha| 21|          1| 15000|
|  Shubham| 23|          2| 18000|
+---------+---+-----------+------+

### Filter Operations

In [24]:
# to find salary of thr people having less than or equal to  20000
df.filter('Salary <=20000').show()

+-------+---+-----------+------+
|   Name|age|Experienced|Salary|
+-------+---+-----------+------+
|  Sunny| 29|          4| 20000|
|   Paul| 24|          3| 20000|
| Harsha| 21|          1| 15000|
|Shubham| 23|          2| 18000|
+-------+---+-----------+------+

In [25]:
df.filter("salary<=20000").select(['Name', 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [27]:
df.filter(df['Salary']<=20000).show()

+-------+---+-----------+------+
|   Name|age|Experienced|Salary|
+-------+---+-----------+------+
|  Sunny| 29|          4| 20000|
|   Paul| 24|          3| 20000|
| Harsha| 21|          1| 15000|
|Shubham| 23|          2| 18000|
+-------+---+-----------+------+

In [30]:
df.filter((df['Salary']<=20000) | (df['Salary']>=15000)).show()

+---------+---+-----------+------+
|     Name|age|Experienced|Salary|
+---------+---+-----------+------+
|    Krish| 31|         10| 30000|
|Sudhanshu| 30|          8| 25000|
|    Sunny| 29|          4| 20000|
|     Paul| 24|          3| 20000|
|   Harsha| 21|          1| 15000|
|  Shubham| 23|          2| 18000|
+---------+---+-----------+------+

In [33]:
df.filter(~(df['Salary']<=20000)).show()

+---------+---+-----------+------+
|     Name|age|Experienced|Salary|
+---------+---+-----------+------+
|    Krish| 31|         10| 30000|
|Sudhanshu| 30|          8| 25000|
+---------+---+-----------+------+