In [ ]:
#Pyspark with grupby and Agregate functions

In [1]:
from pyspark.sql import SparkSession #import spark session

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate() #create a app name with session

In [3]:
spark #check the session

In [7]:
df_pyspark=spark.read.csv('test4.csv', header=True, inferSchema=True)

In [8]:
df_pyspark.show() # see the data

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [9]:
df_pyspark.printSchema() #to check the column data type

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
## GroupBy
# Lets check who has a maximum salary in data
df_pyspark.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [16]:
# lets group department to check which one gives maximum salary
df_pyspark.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [17]:
# Mean salary given by departments
df_pyspark.groupby('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [19]:
# To get number of emp working in each dept use count method
df_pyspark.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [21]:
# using agg method to find the entire sal given to emp
df_pyspark.agg({'salary': 'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [22]:
# lets check who is getting max sal 
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [23]:
# lets check who is getting min sal 
df_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+